:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-image: url('images/bg-pattern-bottom-desktop.svg'),url('images/bg-pattern-top-desktop.svg');
  background-position: bottom right,top left;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'League Spartan', sans-serif;
}
ul{
  list-style-type: none;
}
.row{
  display: flex;
  justify-content: space-between;
}
.col{
  display: flex;
  flex-direction: column;
}
.container{
  width: 80%;
  padding:50px 0;
}
article{
  width: 30%;
}
article h1{
  color:var(--Very-Dark-Magenta);
  font-size: 50px;
  line-height: 0.8;
  margin-bottom: 30px;
}
article p{
  color:var(--Dark-Grayish-Magenta);
  font-weight: 500;
  font-size: 16px;
}
.rates{
  gap:10px;
}
.rate{
  padding:15px 30px;
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 8px;
  color:var(--Very-Dark-Magenta);
  justify-content: flex-start;
  gap:40px;
  position: relative;
}
.rate:nth-child(2){
  left:50px;
}
.rate:nth-child(3){
  left:100px;
}
.rate ul{
  gap:8px;
}
.rate ul li i{
  color:rgb(239, 149, 70);
}

.cards{
  gap:20px;
  margin-top:50px;
}

.card{
  padding:30px;
  background-color: var(--Very-Dark-Magenta);
  gap:20px;
  border-radius: 8px;
  position: relative;
}
.card:nth-child(2){
  top:20px;
}
.card:nth-child(3){
  top:40px;
}
.card .avatar{
  justify-content: flex-start;
  align-items: center;
  gap:20px;
}
.card .avatar p{
  color:var(--Soft-Pink);
  gap:8px;
}
.card .avatar b{
  color:white;
}
.card .caption{
  color:white;
  width:85%;
  line-height: 1.6;
}
.card .avatar img{
  border-radius: 50%;
  width:50px;
}

@media(max-width:768px){
  .main-content,.cards{
    flex-direction: column;
  }
  .main-content{
    text-align: center;
    align-items: center;
  }
  article{
    width: 100%;
  }
  article h1{
    font-size: 40px;
  }
  .row{
    flex-wrap: wrap;
  }
  .rate{
    justify-content: center;
    gap:10px;
  }
  .rate:nth-child(2),.rate:nth-child(3){
    left:0;
  }

  .rates{
    margin-top: 50px;
  }
  
  .card .caption{
    width: 100%;
  }
}